/* Import google font */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* Steve Hsu */
/* This sheet is based by App.css from Brad Traversy */
/* I customized some features of this sheet */
/* Every topic start with "@", so you can have a quick view by searching the "@". */

/* Global Styles */
:root {
  /* The theme */
  --primary-color: #ffab0f;
  --primary-text: #474643;
  /* Others */
  --dark-color: #333333;
  --light-color: #fff5bd;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --fade-color: #ccc;
  /* Space */
  --gap: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.app {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* @Utilities */
.container {
  max-width: 1100px;
  margin: 0 1rem;
  overflow: hidden;
  padding: 0 2rem;
}

.container-with-navbar {
  margin-top: 5rem;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}

.transition {
  transition: all 0.5s;
}

/* @Cards */
.card {
  padding: 1rem;
  border: var(--fade-color) 1px dotted;
  margin: 0.7rem 0;
}

/* @List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* @Padding */
.p {
  padding: var(--gap);
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: var(--gap) 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.pb {
  padding-bottom: var(--gap);
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-3 {
  padding-bottom: 3rem;
}

/* @Margin */
.m {
  margin: var(--gap);
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: var(--gap) 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.mb {
  margin-bottom: var(--gap);
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

/* @Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--gap);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--gap);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--gap);
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.3rem;
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--gap);
}

/* grid - 2 block*/
.grid-1-4 {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.grid-1-5 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: var(--gap);
}

.grid-1-6 {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: var(--gap);
}

.grid-1-7 {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-gap: var(--gap);
}

.grid-2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: var(--gap);
}

.grid-3-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: var(--gap);
}

.grid-1-6-1 {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-gap: 1rem;
}

/* grid gap */
.grid-gap-ti {
  grid-gap: 0.2rem;
}

.grid-gap-sm {
  grid-gap: 0.3rem;
}

.grid-gap-md {
  grid-gap: 1.2rem;
}

.grid-gap-lg {
  grid-gap: 2rem;
}

/* @button */
.btn {
  display: inline-block;
  position: relative;
  /* background: var(--light-color); */
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-square {
  height: 2rem;
  width: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.btn-dropdown {
  height: 2.3rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--fade-color);
  background: none;
  transition: all 0.5s;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: var(--fade-color) solid 1px;
}

.btn-fade,
.bg-fade,
.badge-fade,
.alert-fade {
  background: var(--primary-text);
  color: var(--fade-color);
  border-radius: 0;
  transition: all 0.5s;
}

.bg-light,
.badge-light {
  border: var(--fade-color) solid 1px;
}

.round-img {
  border-radius: 50%;
}

.round-square-img {
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.7;
}

.btn-fade:hover {
  background: var(--danger-color);
  color: white;
  transition: all 0.5s;
  opacity: 1;
  border-radius: 50%;
}

/* @Forms */

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}

.form-container {
  max-width: 500px;
  margin: 12rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.form-container h1,
h2,
h3 {
  text-align: center;
}

/* @table */
table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* @input */
input {
  margin: 1rem 0;
  /* border-radius: 5px; */
}
input[type='number'],
input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: inline-block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 0;
  border-bottom: 1px solid var(--fade-color);
}

input[type='submit'],
button {
  font: inherit;
}

.select-primary {
  color: var(--primary-color);
  transition: all 0.5s;
}

.btn-dropdown:hover,
.select-primary:focus,
.select-primary:hover {
  color: white;
  background: var(--primary-color);
  transition: all 0.5s;
  border: 0;
  border-bottom: 1px solid var(--primary-color);
}

.select-primary-sub {
  transition: all 0.5s;
}

.select-primary-sub:focus,
.select-primary-sub:hover {
  color: white;
  background: var(--primary-color);
  transition: all 0.5s;
  border: 0;
  border-bottom: 1px solid var(--primary-color);
}

/* input - Moveing place holder input */
/* Usage : an input with class MPH-input followed by label with class MPH-input-label. The input must be set placerholder */
/* Depanding on what class wrap the input and label, and the font-size, you have to adjust the space between label and input  */
.MPH-input-label {
  font-size: 1rem;
  display: block;
  opacity: 1;
  transform: translateY(-3rem);
  transform-origin: 0 0;
  transition: all 0.3s;
}

.MPH-input {
  box-shadow: none;
  transition: all 0.5s;
  z-index: 2;
}

.MPH-input::placeholder {
  color: rgba(255, 255, 255, 1);
}

.MPH-input:hover,
.MPH-input:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid var(--primary-color);
  transition: all 1.2s;
}

.MPH-input:hover + .MPH-input-label {
  color: var(--primary-color);
  transition: all 0.5s;
}

.MPH-input:placeholder-shown + .MPH-input-label:hover {
  cursor: pointer;
}

.MPH-input:focus + .MPH-input-label,
.MPH-input:not(:placeholder-shown) + .MPH-input-label {
  transform: translateY(-4rem) scale(0.7);
  color: var(--primary-color);
}
/* Usage : Use a div with class .MPH-input-group to warp a input and babel, the input will transform it size when focused. */
.MPH-input-group {
  transition: all 0.3s;
  z-index: 1;
}
.MPH-input-group:focus-within {
  transform: scale(1.1, 1.1);
}

/* @Navbar */
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 10;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  margin-bottom: 1rem;
  color: var(--primary-text);
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* @Leftbar */

.leftbar {
}

.leftbar-component {
  position: fixed;
  width: 15%;
}

/* @Animation (Add After) */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

/* @PopupForm */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.popup-inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  z-index: 11;
  font-size: large;
}

.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70%;
  padding: 6rem;
}

.popup-btn-holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 30%;
}

/* @FlexBox */
.flexBox {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* @Cursor */
.cursor:hover {
  cursor: pointer;
}

/* @Font */
/* Font-size */
.large {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.2rem;
  /* margin-bottom: 1rem; */
}

.tiny {
  font-size: 0.8rem;
}

/* Font-color */
.text-primary-text {
  color: var(--primary-text);
}

.text-dark {
  color: var(--dark-color);
}

.text-primary {
  color: var(--primary-color);
}

/* Font positoin */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
/* Font weight */
.text-light {
  font-weight: 800;
}

/* @Mobile Styles  -------------------------------- */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1.2rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar h1 {
    margin-bottom: 0.6rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}

/* @test */
/* A quick way to check the area of the element */

.test-1 {
  background: gray;
}

.test-2 {
  background: rgb(246, 247, 187);
}

.test-3 {
  background: hotpink;
}

.test-4 {
  background: lawngreen;
}

.test-5 {
  background: slateblue;
}
